/*el estilo general*/
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #0d0d0d;
  line-height: 1.6;
}

/*cabecera*/
header {
  background-color: #1a1a1af2;
  padding: 20px 0;
  text-align: center;
  border-bottom: 2px solid #e63946;
}

header h1 {
  margin: 0;
  color: #e63946;
  font-size: 2em;
}

nav {
  margin-top: 10px;
}

nav a {
  color: #e0e0e0;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: #e63946;
}

/*Contenedor principal*/
main {
  padding: 40px 20px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 12px;
  width: 80%;
  margin: 40px auto;
  box-shadow: 0 0 20px rgba(230, 57, 70, 0.3);
}

section {
  margin-bottom: 40px;
}

section h1, section h2 {
  color: #e63946;
}

img {
  max-width: 50%;
  border-radius: 10px;
  margin-top: 15px;
  box-shadow: 0 0 10px rgba(230, 57, 70, 0.5);
}

/*boton XD*/
button {
  background-color: #e63946;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  background-color: #b5171a;
  transform: scale(1.05);
}

/*la pata de elefante*/
footer {
  background-color: #1a1a1af2;
  text-align: center;
  padding: 15px 0;
  border-top: 2px solid #e63946;
  font-size: 0.9em;
  margin-top: 40px;
  color: #e0e0e0;
}
